// rem values
$four: 0.25rem;
$five: 0.3125rem;
$six: 0.375rem;
$eight: 0.5rem;
$sixteen: 1rem;
$twenty: 1.25rem;
$twentyfour: 2rem;
$twentyeight: 2.8rem;
$thirtytwo: 4rem;
$fourtyeight: 6rem;
$sixtyfour: 8rem;
$seventytwo: 10rem;
$eighty: 12rem;
$ninety: 14rem;
$onehundred: 16rem;
$twohundred: 32rem;

// percentage values
$onepercentage: 1%;
$tenpercentage: 10%;
$twentypercentage: 20%;
$twentyfivepercentage: 25%;
$thirtypercentage: 30%;
$thirtyfivepercentage: 35%;
$fourtypercentage: 40%;
$fourtyfivepercentage: 45%;
$fiftypercentage: 50%;
$fiftyfivepercentage: 55%;
$sixtypercentage: 60%;
$sixtyfivepercentage: 65%;
$seventypercentage: 70%;
$seventyfivepercentage: 75%;
$eightypercentage: 80%;