// Themes
@use "./themes/dark";
@use "./themes/main";
// Devices Styles
@use "./devices/mobile";
@use "./devices/tablet";
@use "./devices/desktop";
// Utils
@use "./utils/margin";
@use "./utils/width";
@use "./utils/display";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}